// Configuration file for sc-arc-10x pipeline 

params {

       	// Project ID (2021_XXX) or Run ID (date: e.g. YYMMDD-sc-arc-10x) 
	metaid = "xmetaidx"

	// Sample Sheet (Must be in the specified runfolder!)
	ssheet = "xsamplesheetx"

	// Folder of experiment raw data
	runfolder_rna = "xrunfolderrnax"
	runfolder_atac = "xrunfolderatacx"

	// demux - set to 'n' if fastq already generated (they should then be in FQDIR)
	demux = "xdemuxx"
	// bcl2fastq arguments - e.g. "--minimum-trimmed-read-length 20 --mask-short-adapter-reads 20" "--use-bases-mask=Y28n*,I6n*,N10,Y90n*" 
	bcl2fastqarg_rna = "xbclargrnax" 
	bcl2fastqarg_atac = "xbclargatacx"
	// Index type ('dual' or 'single')
	index_rna = "xindexrnax"
	index_atac = "xindexatacx"

	// if using other genome reference than hg38 or mm10
	custom_genome = "xcustomgenomex"

	// Base ctg-dirs: 
 	outdir = "/projects/fs1/nas-sync/ctg-delivery/sc-arc-10x/${metaid}/"
	basedir = "/projects/fs1/shared/ctg-projects/sc-arc-10x/${metaid}/"
	ctgqc = "/projects/fs1/shared/ctg-qc/sc-arc-10x/${metaid}"

	/*
	   =================
	   AUTOMATIC PARAMS 
	   =================
	*/

	sheet = "${basedir}/${ssheet}"
	fqdir = "${outdir}fastq/"
	qcdir = "${outdir}qc/"
	countdir = "${outdir}count/"
	aggdir = "${outdir}aggregate/"
	metadir = "${basedir}/metadata"
}

// Define SLURM specs
process {
	executor='slurm'
	container = '/projects/fs1/shared/ctg-containers/sc-arc-10x/sc-arc-10x.v2.sif'
	time='2h'
	cpus='1'


	withName:summarize_count{
		container = '/projects/fs1/shared/ctg-containers/sc-rna-10x/sc-rna-10x.v6/sc-rna-10x.v6.sif'
	}
	withName:mkfastq_rna {
		time='24h'
		cpus='16'
		memory='110 GB'
	}
	withName:mkfastq_atac {
		time='24h'
		cpus='16'
		memory='110 GB'
	}
	withName:count {
		time='2d'
		cpus='20'
		memory='160 GB'
	}
	withName:aggregate {
		time='2d'
		cpus='16'
		memory='120 GB'	
	}
	withName:fastqc {
		time='4h'
		cpus='16'
		memory='120GB'
	}
	withName:md5sum {
		time='5h'
		cpus='1'
		memory='120GB'
	}
}


singularity {
	    enabled = true
	    runOptions = '--bind /projects/fs1/'
}
